In [3]:
import pandas as pd
from src.predict_akur8.Akur8Model import Akur8Model
from src.predict_akur8.utils import report_unknown_values

In [4]:
model = Akur8Model.from_pickle('model.pkl')

In [5]:
df = pd.read_pickle('test_a_predire_next_payment.pkl')

In [ ]:
out = model.predict(df, default_interpolation='nearest')

In [11]:
report_unknown_values(out)

,model,variable,value,nb,pct
11,next_payment_v2,"('produit_recours_3', 'provision_1')","(nan, nan)",232,0.011089
12,next_payment_v2,"('produit_recours_3', 'provision_1')","(0.0, nan)",25,0.001195
15,next_payment_v2,"('produit_recours_3', 'provision_1')","(1678.0, nan)",1,0.000048
14,next_payment_v2,"('produit_recours_3', 'provision_1')","(1706.0, nan)",6,0.000287
13,next_payment_v2,"('produit_recours_3', 'provision_1')","(1776.0, nan)",11,0.000526
1,next_payment_v2,"('provision_1', 'charge_2')","(nan, nan)",229,0.010945
2,next_payment_v2,"('provision_1', 'charge_2')","(nan, 1776.0)",19,0.000908
3,next_payment_v2,"('provision_1', 'charge_2')","(nan, 1950.0)",18,0.000860
4,next_payment_v2,"('provision_1', 'charge_2')","(nan, 1706.0)",3,0.000143
5,next_payment_v2,"('provision_1', 'charge_2')","(nan, 888.0)",1,0.000048
6,next_payment_v2,"('provision_1', 'charge_2')","(nan, 0.0)",1,0.000048
7,next_payment_v2,"('provision_1', 'charge_2')","(nan, 1678.0)",1,0.000048
8,next_payment_v2,"('provision_1', 'charge_2')","(nan, 975.0)",1,0.000048
9,next_payment_v2,"('provision_1', 'charge_2')","(nan, 925.0)",1,0.000048
10,next_payment_v2,"('provision_1', 'charge_2')","(nan, 1763.29)",1,0.000048
0,next_payment_v2,provision_1,NaN,275,0.013144